/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/app
/storage/framework
/storage/logs
/storage/oauth-private.key
/storage/oauth-public.key
/vendor
/Homestead.json
/Homestead.yaml
/.phpunit.result.cache
/.phpunit.cache
/phpunit.coverage.xml
/.phpactor.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
/auth.json
/.env
/.env.backup
/.env.production
/*.log
/.ds_store
/Dockerfile
/.editorconfig
/.phpunit.result.cache
Homestead.yaml
Homestead.json
*.log
.DS_Store
Thumbs.db
